// Colours
$grey: #333333;
$white: #ffffff;
$orange: rgb(255, 178, 78);

// Navigation Colours
$nav-background: $grey;
$nav-color: $white;
$nav-link-color: $orange;

// Clock
$clock-text-colour: white;
$clock-bg-colour: #B5D0E2;
$clock-border-colour: #2099E8;