.clock {
    align-items: center;
    background-color: $clock-bg-colour;
    border: 2px solid $clock-border-colour;
    border-radius: 50%;
    display: flex;
    height: 14rem;
    justify-content: center;
    margin: 4rem auto;
    width: 14rem;
}

.clock-text {
    color: $clock-text-colour;
    font-size: 2.25rem;
    font-weight: 300;
}